<section class="meet-create-form">
    <create-meet></create-meet>
    <div class="create-input-wrapper">
        <label for="meet-title" class="create-input-label-short-init">Meet Title:</label>
        <input type="text" id="meet-title" class="create-input-field-short">
    </div>
    <div class="create-input-wrapper">
        <label for="meet-fed" class="create-input-label-short-init">Federation:</label>
        <input type="text" id="meet-fed" class="create-input-field-short">
    </div>
    <div class="create-input-wrapper">
        <label for="meet-dir" class="create-input-label-short-init">Director:</label>
        <input type="text" id="meet-dir" class="create-input-field-short">
    </div>
    <div class="create-input-wrapper">
        <label for="meet-date-start" class="create-input-label-short-init">Start:</label>
        <input type="text" id="meet-date-start" class="create-input-field-short">
    </div>
    <button
        class="green-btn create-form-btn"
        ng-click="initMeet()">Continue
    </button>
</section>
