@mixin primary-btn($color:$nephritis-green) {
    background-color: $color;
    border-radius: 4px;
    border: none;
    min-height: 36px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: background .2s ease-in-out;
    font-family: 'Raleway', sans-serif;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 6%);
        transition: background .2s ease-in;
    }
}

.green-btn {
    @include primary-btn($nephritis-green);
}

.red-btn {
    @include primary-btn($alizarin-red);
}
