/**
 * Sub module for body styling.
 */
.index-body, .create-body {
  text-align: center;
  margin: 0;
  padding: 61px 0 0;
  border: 0; }
  .index-body h2, .create-body h2 {
    font-weight: 100;
    font-size: 32px;
    padding: 10px;
    margin: 0; }
  .index-body h3, .create-body h3 {
    font-weight: 100;
    font-size: 24px;
    padding: 45px;
    margin: 0; }
  .index-body p, .create-body p {
    font-size: 14px;
    padding: 30px;
    margin: 0; }

/**
 * Styling for form inputs.
 */
input[type=text] {
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  min-height: 36px;
  padding: 7px 10px;
  box-shadow: inset 2px 2px 5px -1px rgba(0, 0, 0, 0.6); }
  input[type=text]:focus {
    border: 1px solid black; }

select {
  background-color: white;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  min-height: 36px;
  padding: 7px 10px;
  box-shadow: inset 2px 2px 5px -1px rgba(0, 0, 0, 0.6); }
  select:active {
    border: 1px solid black; }

.green-btn {
  background-color: #27ae60;
  border: none;
  color: white;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background .2s ease-in-out;
  font-family: 'Raleway', sans-serif; }
  .green-btn:hover {
    cursor: pointer;
    background-color: #219552;
    transition: background .2s ease-in; }

.red-btn {
  background-color: #e74c3c;
  border: none;
  color: white;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background .2s ease-in-out;
  font-family: 'Raleway', sans-serif; }
  .red-btn:hover {
    cursor: pointer;
    background-color: #e43321;
    transition: background .2s ease-in; }

.grey-btn {
  background-color: #ecf0f1;
  border: none;
  color: white;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background .2s ease-in-out;
  font-family: 'Raleway', sans-serif;
  color: black;
  border: 1px solid black;
  text-shadow: none;
  font-weight: 500; }
  .grey-btn:hover {
    cursor: pointer;
    background-color: #dae2e4;
    transition: background .2s ease-in; }

.turq-btn {
  background-color: #16a085;
  border: none;
  color: white;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background .2s ease-in-out;
  font-family: 'Raleway', sans-serif; }
  .turq-btn:hover {
    cursor: pointer;
    background-color: #12856f;
    transition: background .2s ease-in; }

.blue-btn {
  background-color: #2c3e50;
  border: none;
  color: white;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background .2s ease-in-out;
  font-family: 'Raleway', sans-serif; }
  .blue-btn:hover {
    cursor: pointer;
    background-color: #212f3c;
    transition: background .2s ease-in; }

.white-btn {
  background-color: white;
  border: none;
  color: white;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background .2s ease-in-out;
  font-family: 'Raleway', sans-serif;
  color: black;
  border: 1px solid black;
  text-shadow: none;
  transition: all 50ms ease-in; }
  .white-btn:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background .2s ease-in; }
  .white-btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transition: all 50ms ease-in; }

.animate-add-remove-lifter.ng-move,
.animate-add-remove-lifter.ng-enter,
.animate-add-remove-lifter.ng-leave {
  -webkit-transition: all linear 0.5s;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.animate-add-remove-lifter.ng-leave.ng-leave-active,
.animate-add-remove-lifter.ng-move,
.animate-add-remove-lifter.ng-enter {
  opacity: 0;
  max-height: 0; }

.animate-add-remove-lifter.ng-leave,
.animate-add-remove-lifter.ng-move.ng-move-active,
.animate-add-remove-lifter.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 24px; }

/**
 * Module for styling headers and footers on pages.
 */
/**
 * Defines the color scheme and appearence of a page header and footer.
 *
 * [$height The height in px of the bookend.
 */
.header {
  background: #2c3e50;
  border-bottom: 1px solid #95a5a6;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.footer {
  background: #2c3e50;
  border-bottom: 1px solid #95a5a6;
  height: 80px;
  width: 100%;
  clear: both; }

.header-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%; }
  .header-wrapper .header-logo {
    float: left;
    line-height: 17px;
    color: white; }
  .header-wrapper a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s ease-in-out,text-shadow .2s ease-in-out; }
    .header-wrapper a:hover {
      transition: color .2s ease-in-out,text-shadow .2s ease-in-out;
      color: #95a5a6; }

.header-search {
  float: right;
  color: white;
  line-height: 55px; }

.footer-links {
  float: right;
  color: white;
  line-height: 55px; }
  .footer-links a {
    margin-left: 5px; }

#header-meet-search {
  font-size: 16px; }

/**
 * Styling for the home page.
 */
.index-easy-host {
  padding-top: 50px;
  background-color: #16a085;
  color: white; }

.index-easy-search {
  padding-top: 50px;
  background-color: #ecf0f1; }

.index-easy-to-use {
  padding-top: 50px; }

#index-create-btn {
  font-size: 18px;
  min-width: 24%;
  min-height: 10%; }

#index-main-search {
  margin-top: 35px;
  font-size: 18px;
  margin-bottom: 30px;
  min-width: 24%;
  padding: 18px 10px 20px 10px; }

#index-main-search-btn {
  margin: -7px;
  height: 61px;
  width: 114px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid black; }

.create-body {
  text-align: left; }
  .create-body h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px; }
  .create-body hr {
    height: 2px;
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #dddddd), color-stop(0.5, white));
    background-image: -moz-linear-gradient(center top, #dddddd 50%, white 50%); }

.create-wrapper {
  max-width: 1100px;
  min-height: 500px;
  margin: 0 auto;
  padding: 0 2%; }

.create-input-wrapper {
  margin-bottom: 15px; }

.create-input-label {
  display: inline-block;
  width: 15%;
  text-align: right; }

.create-input-field {
  display: inline-block;
  min-width: 25%;
  margin-left: 8px; }

.create-form-btn {
  margin-left: 170px;
  margin-top: 50px; }

.lifter-list {
  background-color: #ecf0f1;
  display: inline-block;
  float: right;
  width: 600px;
  height: 431px;
  overflow-x: hidden;
  overflow-y: auto; }

.create-input-field-short {
  display: inline-block;
  min-width: 19%;
  margin-left: 8px; }

.create-input-field-lifts {
  display: inline-block;
  min-width: 13%;
  margin-left: 8px;
  width: 19%; }

.create-input-field-opener {
  display: inline-block;
  min-width: 15%;
  margin-left: 8px;
  width: 192px; }

.create-input-label-short {
  display: inline-block;
  width: 15%;
  text-align: right; }

.create-input-label-lifts {
  display: inline-block;
  width: 19%;
  text-align: right;
  font-weight: 600; }

.create-input-label-opener {
  display: inline-block;
  width: 37%;
  text-align: right;
  margin-bottom: 10px;
  font-weight: 600; }

.lifter-form {
  display: inline-block;
  width: 500px;
  height: 447px;
  float: left; }

.upload-form-btn {
  margin-bottom: 30px; }

.add-lifter-btn {
  margin-left: 94px;
  margin-top: 10px; }

.lifter-list-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid white;
  background: #e3e9eb; }

.lifter-list-openers {
  float: right;
  padding-right: 20px;
  margin-top: 5px; }

.lifter-list-details {
  padding-left: 10px;
  height: 24px;
  font-size: 14px; }

.create-meet-btn {
  float: right;
  width: 175px; }

.init-meet-wrapper {
  margin-left: 333px; }

.lifter-delete-btn {
  min-height: 22px;
  font-size: 14px;
  width: 67px;
  font-weight: 500;
  padding: 0; }

#lifter-name {
  min-width: 60%; }

.meet-lift-nav #squat-tab, .meet-lift-nav #bench-tab, .meet-lift-nav #deadlift-tab {
  margin-right: -4px;
  border-right: 0; }

.meet-flight-nav {
  width: 781px;
  display: inline-block;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  margin-right: 11px; }
  .meet-flight-nav .meet-flight-select {
    width: 288px;
    margin-left: 8px;
    margin-right: 15px; }
  .meet-flight-nav .meet-lifter-select {
    width: 364px;
    margin-left: 8px; }

.meet-lift-nav {
  width: 300px;
  display: inline-block;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  margin-left: 1px; }
  .meet-lift-nav .meet-lift-tab {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px 4px 0px 0px;
    padding: 8px 10px 8px 10px;
    width: 49px;
    text-align: center; }
    .meet-lift-nav .meet-lift-tab:hover {
      cursor: pointer;
      background-color: #ecf0f1; }
  .meet-lift-nav .selected {
    background-color: #ecf0f1;
    border-bottom-color: #ecf0f1; }
  .meet-lift-nav #deadlift-tab {
    width: 65px; }

.meet-left-panel {
  width: 74%;
  display: inline-block;
  float: left; }
  .meet-left-panel .meet-bar-display {
    width: 48%;
    height: 175px;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
    float: left;
    border: 1px solid black; }
  .meet-left-panel .meet-current-lift {
    width: 42%;
    height: 175px;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: black; }
    .meet-left-panel .meet-current-lift .round-button-wrapper {
      width: 20%;
      float: right; }
    .meet-left-panel .meet-current-lift #next-round-btn {
      margin-bottom: 5px; }
    .meet-left-panel .meet-current-lift .meet-lift-round {
      display: inline-block;
      font-size: 51px;
      width: 80%; }
    .meet-left-panel .meet-current-lift .meet-lift-amount {
      font-size: 42px; }
  .meet-left-panel .meet-lifter-info {
    width: 21%;
    height: 125px;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
    float: left;
    border: 1px solid black; }
    .meet-left-panel .meet-lifter-info .meet-name {
      font-size: 21px;
      overflow: ellipsis;
      margin-bottom: 15px; }
    .meet-left-panel .meet-lifter-info .meet-gender {
      font-size: 21px;
      display: inline-block;
      margin-bottom: 10px; }
    .meet-left-panel .meet-lifter-info .meet-age-cat {
      font-size: 21px;
      display: inline-block; }
    .meet-left-panel .meet-lifter-info .meet-weight-class {
      font-size: 21px;
      display: inline-block; }
  .meet-left-panel .meet-timer {
    width: 47%;
    height: 125px;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: black; }
    .meet-left-panel .meet-timer .lift-timer-value {
      font-size: 90px;
      float: left;
      display: inline-block;
      width: 70%; }
    .meet-left-panel .meet-timer .timer-buttons {
      display: inline-block;
      width: 28%; }
    .meet-left-panel .meet-timer .timer-btn {
      width: 100%;
      margin-bottom: 5px; }
  .meet-left-panel .meet-lift-result {
    width: 21%;
    height: 125px;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: none;
    padding: 0px 5px 10px 5px;
    margin-right: 32px;
    float: right; }
    .meet-left-panel .meet-lift-result .meet-result-btn {
      width: 100%;
      height: 59%; }

.meet-right-panel {
  width: 25%;
  display: inline-block; }
  .meet-right-panel .meet-result-summary {
    width: 100%;
    height: 353px;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-left: -17px;
    margin-top: -16px;
    border: 1px solid black;
    background-color: #ecf0f1; }
    .meet-right-panel .meet-result-summary .top-result-header {
      display: inline-block; }
    .meet-right-panel .meet-result-summary .lifter-header {
      width: 140px; }
    .meet-right-panel .meet-result-summary .attempt-header {
      width: 40px;
      text-align: center; }
    .meet-right-panel .meet-result-summary .lifter-list-name {
      display: inline-block;
      width: 140px;
      text-overflow: ellipsis; }
    .meet-right-panel .meet-result-summary .lifter-attempt-result {
      display: inline-block;
      width: 40px;
      text-align: center; }
      .meet-right-panel .meet-result-summary .lifter-attempt-result .passed {
        background: #27ae60;
        color: white; }
      .meet-right-panel .meet-result-summary .lifter-attempt-result .failed {
        background: #e74c3c;
        color: white; }
    .meet-right-panel .meet-result-summary .lifter-attempt-input {
      width: 45px;
      padding: 5px 5px;
      text-align: center; }

.meet-event-nav {
  width: 778px;
  display: inline-block;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  margin-right: 15px; }

.meet-nav {
  width: 25%;
  display: inline-block;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px; }

.nav-btn-float-right {
  float: right; }

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em; }

.footer, .push {
  height: 80px; }

/*# sourceMappingURL=base.css.map */
