// Global colors
$midnight-blue: #2c3e50;
$sea-turq: #16a085;
$concrete-gray: #95a5a6;
$clouds-white: #ecf0f1;
$nephritis-green: #27ae60;
$alizarin-red: #e74c3c;

// Global Imports
@import 'body';
@import 'forms';
@import 'buttons';
@import 'animations';

// Meet direction imports
@import 'header-footer';
@import 'index';
@import 'create';
@import 'meet';
@import 'plates';

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    height: auto !important;
    margin: 0 auto -4em;
}
