@mixin primary-btn($color:$nephritis-green) {
    background-color: $color;
    border: none;
    color: white;
    min-height: 36px;
    font-size: 16px;
    padding: 8px 20px;
    transition: background .2s ease-in-out;
    font-family: 'Raleway', sans-serif;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 6%);
        transition: background .2s ease-in;
    }

    &:focus {
        outline: 0;
    }
}

@mixin clear-button($color:$sea-turq) {
    background-color: $color;
    border: white solid 2px;
    color: white;
    min-height: 36px;
    font-size: 16px;
    padding: 8px 20px;
    transition: all .2s ease-in-out;
    font-family: 'Raleway', sans-serif;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        transition: all .2s ease-in;
    }

    &:focus {
        outline: 0;
    }
}

.clear-btn {
    @include clear-button(transparent);
}

.green-btn {
    @include primary-btn($nephritis-green);
}

.red-btn {
    @include primary-btn($alizarin-red);
}

.grey-btn {
    @include primary-btn($clouds-white);
    color: black;
    border: 1px solid black;
    text-shadow: none;
    font-weight: 500;
}

.turq-btn {
    @include primary-btn($sea-turq);
}

.blue-btn {
    @include primary-btn($midnight-blue);
}

.white-btn {
    @include primary-btn(white);
    color: black;
    border: 1px solid black;
    text-shadow: none;
    transition: all 50ms ease-in;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: black;
        transition: all 50ms ease-in;
    }

}
