@mixin input-field($width:40%) {
    display: inline-block;
    min-width: $width;
    margin-left: 8px;
}

@mixin input-label($width:20%) {
    display: inline-block;
    width: $width;
    text-align: right;
}

.control-buttons {
    margin-bottom: 20px;
}

.meet-create-form {
    width: 24%;
    margin: auto;
    background-color: white;
}

.create-wrapper {
    max-width: 1100px;
    min-height: 500px;
    margin: 0 auto;
    padding: 0 2%;
}

.create-input-wrapper {
    margin-bottom: 8px;
    padding-top: 15px;
    text-align: left;
}

.create-form-btn {
    margin: 14px 0px 15px 32px;
    width: 32%;
}

.lifter-form {
    width: 500px;
    float: left;
    margin: 0px 0px 0px 440px;
    background-color: white;
}

.lifter-list {
    background-color: $clouds-white;
    width: 600px;
    height: 522px;
    overflow-x: hidden;
    overflow-y: auto;
}

.create-input-field-short {
    color: black;
    @include input-field(19%);
}

.create-input-field-lifts {
    @include input-field(13%);
    width: 19%;
}

.create-input-field-opener {
    @include input-field(15%);
    width: 192px;
}

.create-input-label-short {
    color: black;
    @include input-label(15%);
}

.create-input-label-short-init {
    color: black;
    @include input-label(34%);
}

.create-input-label-lifts {
    @include input-label(19%);
    font-weight: 600;
}

.create-input-label-opener {
    @include input-label(37%);
    margin-bottom: 10px;
    font-weight: 600;
}

.upload-form-btn {
    margin-right: 15px;
}

.add-lifter-btn {
    margin-top: 10px;
    width: 100%;
    height: 55px;
}

.lifter-list-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid white;
    background: darken($clouds-white, 3%);
}

.lifter-list-openers {
    float: right;
    padding-right: 20px;
    margin-top: 5px;
}

.lifter-list-details {
    padding-left: 10px;
    height: 24px;
    font-size: 14px;
}

.create-meet-btn {
    // float: right;
    // width: 175px;
}

.init-meet-wrapper {
    margin-left: 333px;
}

.lifter-delete-btn {
    min-height: 22px;
    font-size: 14px;
    width: 67px;
    font-weight: 500;
    padding: 0;
}

#lifter-name {
    min-width: 60%;
    margin-left: 8px;
}
