/**
 * Module for styling headers and footers on pages.
 */

/**
 * Defines the color scheme and appearence of a page header and footer.
 *
 * [$height The height in px of the bookend.
 */
@mixin bookend($height:60px, $color: $midnight-blue) {
    background: $color;
    height: $height;
    width: 100%;
}

.header {
    @include bookend(60px, transparent);
    height: 0;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;

    .header-logo {
        float: left;
        line-height: 17px;
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: color .2s ease-in-out,text-shadow .2s ease-in-out;

        &:hover {
            transition: color .2s ease-in-out,text-shadow .2s ease-in-out;
            color: $concrete-gray;
        }
    }
}

.header-stuff {
    float: right;
}

.header-search {
    display: inline-block;
    color: white;
    line-height: 55px;
}

.header-meet-info {
    display: inline-block;
    color: white;
    line-height: 55px;
}

#header-meet-search {
    font-size: 16px;
}
