/**
 * Styling for the home page.
 */
.index-body {
    @extend %main-body;
    background: url("/static/images/squat_hero.jpg") no-repeat 74% 43% fixed;
    color: white;
    height: 100%;
}

.index-easy-host {
    padding-top: 50px;
}

.index-more {
    padding-top: 50px;

    a {
        color: white;
        font-size: 14px;
    }
}

#index-create-btn {
    font-size: 18px;
    min-width: 24%;
    min-height: 10%;
}
