@mixin meet-nav-bar($width) {
    width: $width;
    display: inline-block;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@mixin panel-component($width, $height) {
    width: $width;
    height: $height;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 15px;
}

%general-lift-tab {
    margin-right: -4px;
    border-right: 0;
}

#run-meet {
    margin: 0px 200px;
}

.meet-flight-nav {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;

    .meet-flight-select {
        width: 288px;
        margin-left: 8px;
        margin-right: 15px;
    }

    .meet-lifter-select {
        width: 364px;
        margin-left: 8px;
        margin-right: 220px;
    }
}

.meet-lift-nav {
    @include meet-nav-bar(300px);
    padding: 0;
    margin-left: 1px;

    .meet-lift-tab {
        display: inline-block;
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 4px 4px 0px 0px;
        padding: 8px 10px 8px 10px;
        width: 49px;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: $clouds-white;
            color: black;
        }
    }

    .selected {
        background-color: $clouds-white;
        border-bottom-color: $clouds-white;
        color: black;
    }

    #squat-tab {
        @extend %general-lift-tab;
    }

    #bench-tab {
        @extend %general-lift-tab;
    }

    #deadlift-tab {
        @extend %general-lift-tab;
        width: 65px;
    }
}

.meet-left-panel {
    width: 66%;
    display: inline-block;
    float: left;
    color: black;

    .meet-bar-display {
        @include panel-component(48%, 225px);
        float: left;
        background: white;
    }

    .meet-current-lift {
        @include panel-component(50%, 225px);
        margin-left: -37px;
        background: white;
        text-align: left;

        .round-button-wrapper {
            width: 20%;
            float: right;
        }

        #next-round-btn {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .meet-lift-round {
            display: inline-block;
            font-size: 45px;
            background: white;
            strong {
                font-size: 51px;
            }
            width: 80%;
        }

        .meet-lift-amount {
            font-size: 42px;
        }
    }

    .meet-lifter-info {
        @include panel-component(27%, 200px);
        float: left;
        background: white;
        text-align: left;

        .meet-name {
            font-size: 21px;
            overflow: ellipsis;
            margin-bottom: 15px;
        }

        .meet-gender {
            font-size: 21px;
            display: inline-block;
            margin-bottom: 10px;
        }

        .meet-age-cat {
            font-size: 21px;
            display: inline-block;
        }

        .meet-weight-class {
            font-size: 21px;
            display: inline-block;
        }
    }

    .meet-timer {
        @include panel-component(47%, 200px);
        margin-left: -4px;
        background: white;

        .lift-timer-value {
            font-size: 90px;
            float: left;
            display: inline-block;
            width: 70%;
        }

        .timer-buttons {
            display: inline-block;
            width: 28%;
        }

        .timer-btn {
            width: 100%;
            margin-bottom: 5px;
        }
    }

    .meet-lift-result {
        @include panel-component(21%, 187px);
        border: none;
        padding: 0px 5px 10px 5px;
        float: right;

        .meet-result-btn {
            width: 100%;
            height: 59%;
        }
    }
}

.meet-right-panel {
    display: inline-block;
    background: $clouds-white;
    color: black;
    margin-left: -118px;
    margin-top: -30px;

    .meet-result-summary {
        height: 490px;
        padding: 10px 10px;

        .top-result-header {
            display: inline-block;
        }

        .lifter-header {
            width: 180px;
            text-align: left;
        }

        .attempt-header {
            width: 55px;
            text-align: center;
        }

        .lifter-list-name {
            display: inline-block;
            width: 180px;
            text-overflow: ellipsis;
            text-align: left;
        }

        .lifter-attempt-result {
            display: inline-block;
            width: 55px;
            text-align: center;
            font-size: 14pt;

            .passed {
                background: $nephritis-green;
                color: white;
            }

            .failed {
                background: $alizarin-red;
                color: white;
            }
        }

        .lifter-attempt-input {
            width: 55px;
            padding: 5px 5px;
            text-align: center;
            font-size: 14pt;
        }
    }
}

.meet-event-nav {
    margin-top: 15px;
    text-align: left;
}

.meet-nav {
    @include meet-nav-bar(25%);
}

