<section class="init-meet-wrapper">
    <create-meet></create-meet>
    <div class="create-input-wrapper">
        <label for="meet-title" class="create-input-label">Meet Title:</label>
        <input type="text" id="meet-title" class="create-input-field">
    </div>
    <div class="create-input-wrapper">
        <label for="meet-fed" class="create-input-label">Federation:</label>
        <input type="text" id="meet-fed" class="create-input-field">
    </div>
    <div class="create-input-wrapper">
        <label for="meet-dir" class="create-input-label">Director:</label>
        <input type="text" id="meet-dir" class="create-input-field">
    </div>
    <div class="create-input-wrapper">
        <label for="meet-date-start" class="create-input-label">Start:</label>
        <input type="text" id="meet-date-start" class="create-input-field">
    </div>
    <button
        class="red-btn create-form-btn"
        ng-click="initMeet()">Continue
    </button>
</section>
