<h2> Add Lifters </h2>
<div>
    <button
        class="red-btn upload-form-btn"
        ng-click="returnToInit()"
        >< Back
    </button>
<!--     <button
        class="red-btn upload-form-btn"
        >Upload a text file
    </button> -->
    <button
        class="red-btn create-meet-btn"
        ng-click="createMeet()"
        >Create Meet!
    </button>
</div>
<section class="lifter-form">
    <form ng-submit="addNewLifter()">
    <div class="create-input-wrapper">
        <label class="create-input-label">Name:</label>
        <input type="text" id="lifter-name" class="create-input-field" ng-model="currentLifter.name">
    </div>

    <div class="create-input-wrapper">
        <label class="create-input-label">Age:</label>
        <input type="text" class="create-input-field-short" ng-model="currentLifter.age">
    </div>

    <div class="create-input-wrapper">
        <label class="create-input-label">Gender:</label>
        <select
            class="create-input-field-short"
            ng-model="currentLifter.gender"
            ng-change="switchWeightClasses()">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>

    <div class="create-input-wrapper">
        <label class="create-input-label">Class:</label>
        <select
            class="create-input-field-short"
            ng-model="currentLifter.weightClass"
            ng-options="class for class in weightClasses">
        </select>
    </div>

    <div class="create-input-wrapper">
        <label class="create-input-label-opener">Openers (kg)</label>
        <label class="create-input-label-lifts"> Rack height </label>

        <div class="create-input-wrapper">
            <label class="create-input-label-short">Squat:</label>
            <input type="text" class="create-input-field-lifts" ng-model="currentLifter.squat">
            <input type="text" class="create-input-field-lifts" ng-model="currentLifter.squatRack">
        </div>
        <div class="create-input-wrapper">
            <label class="create-input-label-short">Bench:</label>
            <input type="text" class="create-input-field-lifts" ng-model="currentLifter.bench">
            <input type="text" class="create-input-field-lifts" ng-model="currentLifter.benchRack">
        </div>
        <div class="create-input-wrapper">
            <label class="create-input-label-short">Deadlift:</label>
            <input type="text" class="create-input-field-lifts" ng-model="currentLifter.deadlift">
        </div>
    </div>
    <button
        class="green-btn add-lifter-btn"
        type="submit"
        >Add this lifter
    </button>
    </form>
</section>
<section class="lifter-list">
    <div class="lifter-list-title">Lifter List</div>
    <div ng-repeat="lifter in meet.lifters.all" class="animate-add-remove-lifter">
        <div class="lifter-list-details">
            <button
                class="green-btn lifter-delete-btn"
                ng-click="removeLifter(lifter)"
                >Remove
            </button>
            <strong>{{lifter.name}}</strong>
            {{lifter.weightClass}}
            <span class="lifter-list-openers">
                Squat: {{lifter.squat}}kg
                Bench: {{lifter.bench}}kg
                Deadlift: {{lifter.deadlift}}kg
            </span>
        </div>
        <hr />
    </div>
</section>
