<div>
Upload a text file:
</div>
<div>
    <div class="create-input-wrapper">
        <label class="create-input-label">Name:</label>
        <input type="text" id="lifter-name" class="create-input-field">
    </div>

    <div class="create-input-wrapper">
        <label class="create-input-label">Class:</label>
        <input type="text" id="lifter-class" class="create-input-field">
    </div>

    <div class="create-input-wrapper">
        <label class="create-input-label">Openers</label>
        <input type="text" id="lifter-class" class="create-input-field">
    </div>
    <button
        class="turq-btn"
        ng-click="setCurrentStage('/static/js/partials/initMeet.html')"
        >Back
    </button>
    <button
        class="turq-btn"
        >Continue
    </button>
</div>
