<div class="meet-flight-nav">Flight nav top</div>
<div class="meet-lift-nav">Lift nav top</div>

<div class="meet-left-panel">
    <div class="meet-bar-display">Bar plate Display</div>
    <div class="meet-lifter-info">Lifter info</div>

    <div class="meet-current-lift">Current lift</div>
    <div class="meet-timer">Timer</div>
    <div class="meet-lift-result">Result</div>
</div>
<div class="meet-right-panel">
    <div class="meet-result-summary">results summary</div>
</div>

<div class="meet-event-nav">bottom event nav</div>
<div class="meet-nav">bottom meet nav</div>
