<section ng-controller="RunMeetCtrl">
    <div class="meet-flight-nav">
        <label class="meet-flight-label"><strong>Flight</strong></label>
        <select
            class="meet-flight-select"
            ng-model="currentFlight"
            ng-options="flight.name for flight in meet.flights">
        </select>

        <label class="meet-lifter-label"><strong>Lifter</strong></label>
        <select
            class="meet-lifter-select"
            ng-model="lifting"
            ng-change="setCurrentLift()"
            ng-options="lifter.name for lifter in currentFlight.lifters">
        </select>
    </div>
    <div class="meet-lift-nav">
        <div
            class="meet-lift-tab"
            id="squat-tab"
            ng-class="{selected: currentTab=='squat'}"
            ng-click="switchTab('squat')"
        >Squat</div>
        <div
            class="meet-lift-tab"
            id="bench-tab"
            ng-class="{selected: currentTab == 'bench'}"
            ng-click="switchTab('bench')"
        >Bench</div>
        <div
            class="meet-lift-tab"
            id="deadlift-tab"
            ng-class="{selected: currentTab == 'deadlift'}"
            ng-click="switchTab('deadlift')"
        >Deadlift</div>
        <div
            class="meet-lift-tab"
            id="total-tab"
            ng-class="{selected: currentTab == 'total'}"
            ng-click="switchTab('total')"
        >Total</div>
    </div>

    <div class="meet-left-panel">
        <div class="meet-bar-display">Bar plate Display</div>
        <div class="meet-current-lift">
            <div class="meet-lift-round">
                <strong>{{currentLift.name}}</strong> - {{liftRound + 1}}
            </div>
            <div class="round-button-wrapper">
                <button
                    class="grey-btn"
                    id="next-round-btn"
                    ng-click="nextRound()"
                    title="Next {{currentTab}} round">
                    &#x25B2
                </button>
                <button
                    class="grey-btn"
                    ng-click="prevRound()"
                    title="Previous {{currentTab}} round">
                    &#x25BC
                </button>
            </div>
            <div class="meet-lift-amount">
                <strong>{{currentLift.liftInKg}}</strong> kg
            </div>
            <div class="meet-lift-amount">
                <strong>{{currentLift.liftInLb}}</strong> lbs
            </div>
        </div>

        <div class="meet-lifter-info">
            <div class="meet-name"><strong>{{lifting.name}}</strong></div>
            <div class="meet-gender">{{lifting.gender}} - </div>
            <div class="meet-age-cat">Age cat</div>
            <div class="meet-weight-class">{{lifting.weightClass}}</div>
            <div class="meet-weight-class">Class in lbs</div>
        </div>
        <div class="meet-timer">
            <meet-timer>
                <div class="lift-timer-value"></div>
                <div class="timer-buttons">
                    <button class="grey-btn timer-btn" ng-click="pauseTime()">
                        Pause
                    </button>
                    <button class="grey-btn timer-btn" ng-click="resumeTime()">
                        Resume
                    </button>
                    <button class="grey-btn timer-btn" ng-click="resetTime()">
                        Reset
                    </button>
                </div>
            </meet-timer>
        </div>
        <div class="meet-lift-result">
            <button class="red-btn meet-result-btn" ng-click="noLift()">
                No Lift
            </button>
            <button class="green-btn meet-result-btn" ng-click="goodLift()">
                Good Lift
            </button>
        </div>
    </div>
    <div class="meet-right-panel">
        <div class="meet-result-summary">
            <div class="top-result-header lifter-header"><strong>Lifter</strong></div>
            <div class="top-result-header attempt-header"><strong>1</strong></div>
            <div class="top-result-header attempt-header"><strong>2</strong></div>
            <div class="top-result-header attempt-header"><strong>3</strong></div>
            <hr />
            <div ng-repeat="lifter in currentFlight.lifters">
                <div class="lifter-list-name">{{lifter.name}}</div>
                <div class="lifter-attempt-result">
                    <input
                        type="text"
                        class="lifter-attempt-input"
                        value="{{ lifter.attempts[currentTab][0] }}"
                        ng-model="lifter.attempts[currentTab][0]"
                    >
                </div>
                <div class="lifter-attempt-result">
                    <input
                        type="text"
                        class="lifter-attempt-input"
                        ng-model="lifter.attempts[currentTab][1]"
                    >
                </div>
                <div class="lifter-attempt-result">
                    <input
                        type="text"
                        class="lifter-attempt-input"
                        ng-model="lifter.attempts[currentTab][2]"
                    >
                </div>
                <hr />
            </div>
        </div>
    </div>

    <div class="meet-event-nav">
        <button class="white-btn" ng-click="goToPrevLifter()">
            < Previous Lifter
        </button>
        <button class="white-btn nav-btn-float-right" ng-click="goToNextLifter()">
            Next Lifter >
        </button>

    </div>
    <div class="meet-nav">bottom meet nav</div>
</section>
