<html lang="en" ng-app="MeetDirector">
    <head>
        <meta charset="utf-8">
        <title>MeetDirector - Create A Meet</title>

        <!-- CSS -->
        <link href="static/css/base.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="CreateMeetCtrl">
        <div class="wrapper">
            <header class="header">
                <div class="header-wrapper">
                    <h1 class="header-logo">
                        <a href="/">MeetDirector.io</a>
                    </h1>
                    <div class="header-search">
                        <input
                            type="text"
                            class="header-input"
                            id="header-meet-search"
                            placeholder="Search meets">
                        <button class="blue-btn">Search</button>
                    </div>
                </div>
            </header>
            <div class="create-wrapper">
                <div class="create-body">
                    <h2> Create A Meet </h2>
                    <div ng-include="currentStage"></div>
                </div>
            </div>
            <div class="push"></div>
        </div>
        <footer class="footer">
            <div class="header-wrapper">
                <div class="footer-links">
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/blog">Blog</a>
                    <a href="">Developers</a>
                </div>
            </div>
        </footer>

        <!-- AngularJS -->
        <script src="static/js/vendor/angular.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/controllers/MeetDirectorController.js"></script>
        <script src="static/js/controllers/CreateMeetController.js"></script>
        <script src="static/js/directives/createMeetDirective.js"></script>
    </body>
</html>
