<html lang="en" ng-app="MeetDirector">
    <head>
        <meta charset="utf-8">
        <title>MeetDirector - Host Powerlifting Meets</title>

        <!-- CSS -->
        <link href="static/css/base.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="MeetDirectorCtrl">
        <section id="index-body" ng-include="currentStage"></section>

        <!-- AngularJS -->
        <script src="static/lib/js/angular.min.js"></script>
        <script src="static/lib/js/angular-animate.min.js"></script>
        <script src="static/js/angular/app.js"></script>
        <script src="static/js/angular/controllers/MeetDirectorController.js"></script>
        <script src="static/js/angular/controllers/CreateMeetController.js"></script>

        <script src="static/js/angular/directives/createMeetDirective.js"></script>

        <script src="static/js/angular/services/meetService.js"></script>
    </body>
</html>
